.margin-rt-5, .sidebar ul li .todo-icon {
  margin-right: 5px; }

.float-rt {
  float: right; }

.flex-reverse {
  flex-direction: row-reverse; }

.black-elements {
  color: black; }

.fa-check-circle {
  color: green; }

textarea {
  min-height: 300px; }

.input-field-style, .sidebar form input {
  position: absolute;
  width: 100%;
  height: 50px;
  padding-left: 40px;
  border: none;
  border-bottom: 0.5px solid #d9d9d9;
  border-right: 0.5px solid #d9d9d9;
  color: black;
  outline: none;
  border: 1px solid #17a2b8;
  background-color: rgba(255, 223, 153, 0.49); }
  .input-field-style:focus, .sidebar form input:focus {
    box-shadow: 0 0 15px #264b55; }

::-webkit-input-placeholder {
  color: #17a2b8;
  font-weight: 800; }

:-moz-placeholder {
  color: #17a2b8;
  font-weight: 800; }

::-moz-placeholder {
  color: #17a2b8;
  font-weight: 800; }

:-ms-input-placeholder {
  color: #17a2b8;
  font-weight: 800; }

.sidebar {
  min-width: 250px;
  max-width: 250px;
  flex-direction: column;
  background-color: transparent;
  height: 590px;
  float: left;
  position: relative;
  border-right: 0.5px solid #d9d9d9; }
  .sidebar ul {
    max-height: calc(100% - 60px);
    overflow: overlay; }
    .sidebar ul li {
      background-color: transparent; }
      .sidebar ul li span {
        text-overflow: ellipsis;
        max-width: 50px;
        overflow: hidden; }
      .sidebar ul li .delete-icon {
        float: right;
        color: red; }
        .sidebar ul li .delete-icon:hover {
          font-size: 23px; }
      .sidebar ul li .todo-icon {
        color: green; }
