@import '../../../utilities/_util.scss';

.sidebar {
  min-width: 250px;
  max-width: 250px;
  flex-direction: column;
  background-color: transparent;
  height: $content-height;
  float: left;
  position: relative;
  border-right: $sidebar-border;
  ul {
    max-height: calc(100% - 60px);
    overflow: overlay;
    li {
      background-color: transparent;
      span {
        text-overflow: ellipsis;
        max-width: 50px;
        overflow: hidden;
      }
      .delete-icon {
        float: right;
        color: $red;
        &:hover {
          font-size: 23px;
        }
      }
      .todo-icon {
        @extend .margin-rt-5;
        color: $green;
      }
    }
  }

  form {
    input{
      @extend .input-field-style;
    }
  }
}