$white: white;  
$black: black;
$red: red;
$green: green;
$theme-color: #17a2b8;
$sidebar-border: 0.5px solid #d9d9d9;
$content-border: 5px solid $theme-color;
$shadow-color: #264b55;
$input-focus-color: #cbf8ff;
$theme-color: #17a2b8;
$content-height: 590px;
$wheat: rgba(255, 223, 153, 0.49);
$input-border: 1px solid $theme-color;
$shadow: 0 0 15px $shadow-color;

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

.margin-rt-5 {
  margin-right: 5px;
}

.float-rt {
  float: right;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.black-elements {
  color: $black;
}

.fa-check-circle {
  color: $green;
}

textarea {
  min-height: 300px;
}

.input-field-style {
  position: absolute;
  width: 100%;
  height: 50px;
  padding-left: 40px;
  border: none;
  border-bottom: $sidebar-border;
  border-right: $sidebar-border;
  color: $black;
  outline: none;
    border: $input-border;
    background-color: $wheat;
  &:focus {
    box-shadow:  $shadow;
  }
}

  @include placeholder {
    color: $theme-color;
    font-weight:800;
}