.margin-rt-5 {
  margin-right: 5px; }

.float-rt {
  float: right; }

.flex-reverse {
  flex-direction: row-reverse; }

.black-elements {
  color: black; }

.fa-check-circle {
  color: green; }

textarea {
  min-height: 300px; }

.input-field-style {
  position: absolute;
  width: 100%;
  height: 50px;
  padding-left: 40px;
  border: none;
  border-bottom: 0.5px solid #d9d9d9;
  border-right: 0.5px solid #d9d9d9;
  color: black;
  outline: none;
  border: 1px solid #17a2b8;
  background-color: rgba(255, 223, 153, 0.49); }
  .input-field-style:focus {
    box-shadow: 0 0 15px #264b55; }

::-webkit-input-placeholder {
  color: #17a2b8;
  font-weight: 800; }

:-moz-placeholder {
  color: #17a2b8;
  font-weight: 800; }

::-moz-placeholder {
  color: #17a2b8;
  font-weight: 800; }

:-ms-input-placeholder {
  color: #17a2b8;
  font-weight: 800; }

.navigation-bar {
  background-color: white;
  color: black;
  border-bottom: 5px solid #17a2b8; }
