@import '../../../utilities/_util.scss';

.todo-content {
  width: calc(100% - 250px);
  position: relative;
  height: $content-height;
  float: left;
  overflow: overlay;
  ul {
    max-height: calc(100% - 60px);
    overflow: overlay;
    li {
      background-color: transparent;
      .delete-icon {
        float: right;
        color: red;
        &:hover {
          font-size: 23px;
        }
      }
      i {
        @extend .margin-rt-5;
      }
    }
  }
  
  form {
    input{
      @extend .input-field-style;
    }
  }
}

