body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
  //background-color: white;
  //background-image: url('./components/images/Bac1.jpg');
  //background-position: center;
  //background-size: 100%; 
  // background: linear-gradient(to right bottom, #00feff,#2e5411);
}
